.gitignore
data/cache/
data/log/
log/*
bug/
#data/logic/
data/session/
.idea/
shop1/
#.svn/
#.idea/
#shop1/
data/config
data/upload
#data/api
#data/area
#data/excel
#data/model
#data/resource
#data/smilies
